

//Paleta de colores
$color-primary: blueviolet;
$color-secondary:#3d3350;
$color-warning: rgb(243, 201, 110);
$color-dark: whitesmoke;
$color-danger: rgb(54, 156, 61);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header {
    background-color: $color-primary;
    
}
.btn{
    background-color: $color-primary;
    color: $color-dark;
}
    
.d-img{
    filter: brightness(0.6);
}
    
.contacto{
    color: $color-primary;
}


.video{
    background-color: $color-primary;
    h4{
        color: $color-dark;
    }
}    

/*FOOTER INICIO*/
footer {
    background-color: $color-secondary;
    color: $color-dark;
    text-align: center;
    padding: 20px;

    a {
        color: $color-primary;
        text-decoration: none;
        font-size: 30px;
        letter-spacing: 30px;
    }

}


/*FOOTER FIN*/
/*WHATSAPP INICIO */
.what {
    color: $color-danger;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    font-size: 50px;
    line-height: 40px;
    text-shadow: 0 0 2px #000;
}

